body * {
  transition: all 0.3s ease-out;
}

.active {
  visibility: visible;
}

header.active {
  height: auto;
  margin: 50px auto 50px auto;
  overflow: auto;
}

.container {
  transition: all 1s ease-out;;
}

article.loading {
  visibility: visible;
  height: max-content;
  margin: 20px 0px;
  padding: 10px 2%;
}

article.active {
  height: max-content;
  margin: 20px 0px;
  padding: 10px 2%;
  opacity: 1;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
  }
}