:root {
  --background-color: #121212;
  --surface-01dp: rgba(255, 255, 255, 0.05);
  --surface-02dp: rgba(255, 255, 255, 0.07);
  --surface-03dp: rgba(255, 255, 255, 0.08);
  --surface-04dp: rgba(255, 255, 255, 0.09);
  --surface-06dp: rgba(255, 255, 255, 0.11);
  --surface-08dp: rgba(255, 255, 255, 0.12);
  --surface-12dp: rgba(255, 255, 255, 0.14);
  --surface-16dp: rgba(255, 255, 255, 0.15);
  --surface-24dp: rgba(255, 255, 255, 0.16);
  --font-color: white;
  --high-emphasis: rgba(255, 255, 255, 0.87);
  --midium-emphasis: rgba(255, 255, 255, 0.6);
  --disable: rgba(255, 255, 255, 0.38);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  --primary-color: #BB86FC;
  --primary-variant-color: #3700B3;
  --secondary-color: #03DAC6;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

pre {
  box-shadow: var(--box-shadow);
  background-color: var(--surface-03dp);
}

.filebox {
  background-color: var(--primary-color);
  border-color: var(--primary-variant-color);
}

.filebox:hover {
  background-color: var(--primary-variant-color);
}

.container {
  background-color: var(--surface-01dp);
  box-shadow: var(--box-shadow);
}

.container > article {
  background-color: var(--surface-02dp);
  box-shadow: var(--box-shadow);
}

.container > article > h3 {
  color: var(--high-emphasis);
}

article > canvas {
  background-color: var(--surface-03dp);
  box-shadow: var(--box-shadow);
}

article  ol  li {
  background-color: var(--surface-03dp);
}

article  ol  li:hover {
  background-color: var(--midium-emphasis);
}

footer a {
  color: var(--secondary-color);
}

footer a:hover{
  color: var(--primary-color);
}

* {
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.4);
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}