@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

html,
body {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 120%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: max-content;
}

h1 {
  font-size: xx-large;
}

header {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 0vh;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

header > h2 {
  display: block;
  margin-right: 20px;
}

.filebox {
  width: 110px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.25em;
}

.filebox > i {
  margin-left: 10px;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 30px;
  max-width: 1400px;
}

article {
  display: block;
  box-sizing: content-box;
  border-radius: 5px;
  margin: 0px;
  height: 0vh;
  overflow: hidden;
  visibility: collapse;
  opacity: 0;
}


article > h3 {
  display: block;
  margin-bottom: 30px;
}

.article-grid {
  display: flex;
  flex-basis: 0;
  gap: 8px;
  align-content: space-between;
}

.article-grid > div{
  border-radius: 5px;
  padding: 8px 15px;
  flex: 1;
}

.article-grid > div > h4{
  display: block;
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  padding: 8px;
  width: 100% - 16px;
  height: 30vw;
  min-height: 300px;
  border-radius: 5px;
}

article ol{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  padding: 0;
  list-style-type: none;
  counter-reset: list;
}

ol li:before {
  content: counter(list) ". ";
  padding-left: 15px;
}

article  ol  li {
  padding: 8px 5px 8px 0px;
  margin: 3px 0;
  counter-increment: list;
  overflow: visible;
  white-space: nowrap;
}

footer {
  display: block;
  text-align: center;
  font-weight: 500;
}

footer a{
  text-decoration: none;
  font-weight: 700;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
