@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap&text=메뉴닫기카카오톡대화분석기");

html {
  font-size: 16px;
}

html,
body {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: max-content;
}

<<<<<<< HEAD
=======
.active {
  visibility: visible;
}

a {
  transition: all 0.5s ease-out;
}


h1 {
  font-size: 2rem;
}

>>>>>>> origin/main
header {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 0vh;
  display: flex;
  overflow: hidden;
  visibility: hidden;
  justify-content: center;
  flex-direction: column;
}

<<<<<<< HEAD
header h1 {
  display: block;
  margin: 2vh 3vw 5vh 3vw;
  font-size: 4rem;
}

.filebox {
  width: max-content;
=======
header.active {
  height: auto;
  margin: 30px auto 30px auto;
  overflow: auto;
}

.filebox {
  width: 5.8rem;
>>>>>>> origin/main
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.25em;
<<<<<<< HEAD
  font-size: 3rem;
=======
  transition: all 0.3s ease-out;
>>>>>>> origin/main
}

.filebox > i {
  margin-left: 10px;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  border-radius: 10px;
<<<<<<< HEAD
  margin: 20px 3vw;
  padding: 20px 30px;
  max-width: 1400px;
=======
  margin: 4vmin 0;
  padding: 30px;
  max-width: 1200px;
}

.container * {
  transition: all 1s ease-out;
>>>>>>> origin/main
}

article {
  position: relative;
  display: block;
  box-sizing: content-box;
  border-radius: 5px;
  margin: 0px;
  height: 0vh;
  overflow: hidden;
  visibility: collapse;
  opacity: 0;
}

article.loading {
  visibility: visible;
  height: max-content;
  margin: 1vmax 0px;
  padding: 2%;
}

article.active {
  height: max-content;
  margin: 1vmax 0px;
  padding: 2% 2%;
  opacity: 1;
}

article > h3 {
  display: block;
  margin-bottom: 1.8rem;
}

.article-grid {
  display: flex;
  flex-basis: 0;
  gap: 2%;
  align-content: space-between;
}

.article-grid > div {
  border-radius: 5px;
  padding: 8px 15px;
  flex: 1;
}

.article-grid > div > h4 {
  display: block;
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  margin: 0 auto;
  padding: 8px;
  width: clamp(calc(100% - 16px), calc(100% - 2vmax - 4vw - 16px), calc(98vw - 2vmax - 4vw - 16px));
  height: 50vmin;
  min-height: 300px;
  border-radius: 5px;
}

.chart-container * {
  transition: none;
}

article ol {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  padding: 0;
  list-style-type: none;
  counter-reset: list;
}

ol li:before {
  content: counter(list) ". ";
  padding-left: 15px;
}

article ol li {
  padding: 0.4rem 0.2rem 0.3rem 0px;
  margin: 0.15rem 0;
  counter-increment: list;
  overflow: visible;
  white-space: nowrap;
}

footer {
  display: block;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  font-weight: 700;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
