/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/
  html{
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }

  html, body{
    height: 100%;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100% - 10vh);
  }

  header.active {
    width: 100%;
    height: 100%;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  /*스타일입력*/
  html{
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }

  html, body{
    height: 100%;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100% - 10vh);
  }

  header.active {
    width: 100%;
    height: 100%;
  }
}
